body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  background-color: #1C3144;
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
  color: white;
  width: auto;
}

.container {
  position: relative;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.branding {
  font-size: 16px;
  text-align: right;
  margin-top: 20px;
  color: #fff;
}

.left {
  float: left;
}

.input-box {
  width: 400px;
  height: 45px;
  border-radius: 15px;
  border: 1px solid black;
}

.input-box {
  width: 100%;
  max-width: 400px;
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-box::placeholder {
  color: #aaa;
}

.input-box:focus {
  border-color: #1C3144;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.add-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #1C3144;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-btn:hover {
  background-color: #0056b3;
}

.share-btn {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.share-btn a {
  color: white;
  text-decoration: none;
}

.share-btn:hover {
  background-color: #1C3144;
  transition: background-color 0.3s ease-in-out;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 700px) {
  .card {
    height: auto;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
  }

  .top-image {
    height: fit-content;
    width: 100%;
  }

  h1 {
    font-size: 22px;
  }

  .btn-group {
    margin: 10px;
  }
}